---
title: Welcome to Middleman
---

<div class="jumbotron">
  <h1>Twitch TV API Project</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
